<div class="sidebar d-flex flex-column text-white" id="sidebar">
    <a href="/" class="text-white text-decoration-none my-3 text-center" preload="mouseover">
        <span class="fs-3 fw-bold">{{ config.instancename }}</span>
    </a>
    <hr class="mx-3">
    <ul class="nav nav-pills flex-column mb-auto px-2">
        <li class="nav-item text-center">
            <a href="/" class="nav-link {% if active_item == "home" %}active{% endif %} text-white
                text-decoration-none my-1 fs-6 bg-hover" preload="mouseover">
                <i class="fa-solid fa-house me-2"></i>
                Home
            </a>
        </li>
        <li class="nav-item text-center">
            <a href="/trending" class="nav-link {% if active_item == "trending" %}active{% endif %} text-white
                text-decoration-none my-1 fs-6 bg-hover" preload="mouseover">
                <i class="fa-solid fa-arrow-trend-up me-2"></i>
                Trending
            </a>
        </li>
        <div hx-get="/hx/sidebar/{{ active_item }}" hx-swap="outerHTML" hx-trigger="load" class="sidebar-hx-placeholder"></div>
    </ul>
</div>
<div class="sidebarbackground" id="sidebarbackground"></div>
