<!DOCTYPE html>
<html>

<head>
    {% include "component-dependencies.html" %}

    <title>Concepts</title>

    <meta property="og:title" content="{{ config.instancename }} Concepts" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ common_headers.host }}/concepts" />
</head>

<body>
    {{ sidebar }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2 ps-2" style="max-width: 99%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card py-3 px-3 text-white h-100">
                <h3 class="my-2 mx-3">Concepts</h3>
                <hr>
                <div hx-get="/hx/studio/concepts" hx-trigger="load, every 30s" class="row mb-3" style="min-height:100vh;">
                    <div class="text-center my-4 col">
                        <i class="fa-solid fa-spinner fa-spin-pulse fa-8x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>