{% for item in items %}
<div class="col-xl-2 col-lg-4 col-6 d-flex justify-content-center">
    <a href="/l/{{ list_id }}/{{ item.id }}" class="text-decoration-none p-3 bg-hover rounded" preload="mouseover">
        <table>
            <tr>
                <td class="d-flex justify-content-center">
                    <img src="{{ config.source_server_url }}/source/{{ item.id }}/thumbnail.avif" width="176" height="99" class="mx-2 rounded">
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <b class="text-white font-weight-bold">{{ item.name }}</b>
                    <p class="text-secondary">{{ item.views }} views
                        {% if item.type == "video" %}
                        <i class="fa-solid fa-video fa-sm ms-1"></i>
                        {% else if item.type == "audio" %}
                        <i class="fa-solid fa-music fa-sm ms-1"></i>
                        {% else if item.type == "picture" %}
                        <i class="fa-solid fa-image fa-sm ms-1"></i>
                        {% endif %}
                    </p>
                </td>
            </tr>
        </table>
    </a>
</div>
{% if loop.index == 20 && has_more %}
<div class="col-12" style="height:1px;overflow:hidden;" hx-get="{{ next_url }}" hx-trigger="revealed" hx-target="#inf-scroll-li-{{ page }}" hx-swap="outerHTML"></div>
{% endif %}
{% endfor %}
{% if has_more %}
<div id="inf-scroll-li-{{ page }}" class="col-12 text-center my-4">
    <i class="fa-solid fa-spinner fa-spin-pulse fa-3x text-secondary"></i>
</div>
{% else %}
<div class="col-12 text-center my-4">
    {% if items.is_empty() && page == 0 %}
    <p class="text-secondary">This list is empty.</p>
    {% else %}
    <p class="text-secondary"><i class="fa-solid fa-circle-check me-2"></i>You have reached the end.</p>
    {% endif %}
</div>
{% endif %}
