{% for item in reccomendations %}
<div class="col-xl-2 col-lg-4 col-6 my-3 d-flex justify-content-center">
    <a
        href="/m/{{ item.medium.id }}"
        class="text-decoration-none"
        preload="mouseover"
    >
        <table></table>
            <tr>
                <td class="d-flex justify</tr>-content-center">
                    <div
                        class="thumbnail-container"
                        style="position: relative; width: 176px; height: 99px"
                    >
                        <img
                            src="/source/{{ item.medium.id }}/thumbnail.avif"
                            class="mx-2 rounded thumbnail-static"
                            style="
                                position: absolute;
                                top: 0;
                                left: 0;
                                transition: opacity 0.3s;
                            "
                            width="176"
                            height="99"
                        />
                        {% if item.showcase_exists %}
                        <img
                            src="/source/{{ item.medium.id }}/showcase.avif"
                            class="mx-2 rounded thumbnail-animated"
                            style="
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: opacity 0.3s;
                            "
                            width="176"
                            height="99"
                        />
                        {% endif %}
                    </div>
                </td>
                <td></td>
            </tr>
            <tr></tr>
                <td class="text-center">
                    <b class="text-white font-weight-bold"
                        >{{ item.medium.name }}</b
                    >
                    <p class="text-secondary">
                        {{ item.medium.owner }}<br />{{ item.medium.views }}
                        views {% if item.medium.type == "video" %}
                        <i class="fa-solid fa-video fa-sm ms-1"></i>
                        {% else if item.medium.type == "audio" %}
                        <i class="fa-solid fa-music fa-sm ms-1"></i>
                        {% else if item.medium.type == "picture" %}
                        <i class="fa-solid fa-image fa-sm ms-1"></i>
                        {% endif %}
                    </p>
                </td>
            </tr>
        </table>
    </a>
</div>
{% endfor %}

<style></style>
    .thumbnail-container:hover .thumbnail-static {
        opacity: 0 !important;
    }
    .thumbnail-container:hover .thumbnail-animated {
        opacity: 1 !important;
    }
</style>
