{% for medium in media %}
<div class="col-xl-2 col-lg-4 col-6 d-flex justify-content-center inf-scroll-reveal">
    <a
        href="/studio/edit/{{ medium.id }}"
        class="text-decoration-none p-3 bg-hover rounded"
        preload="mouseover"
    >
        <table>
            <tr>
                <td class="d-flex justify-content-center">
                    <img
                        src="{{ config.source_server_url }}/source/{{ medium.id }}/thumbnail.avif"
                        width="176"
                        height="99"
                        class="mx-2 rounded"
                    />
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="text-center">
                    <b class="text-white font-weight-bold medium-name">{{ medium.name }}</b>
                    <p class="text-secondary">
                        {{ medium.views }} views {% if medium.type == "video" %}
                        <i class="fa-solid fa-video fa-sm ms-1"></i>
                        {% else if medium.type == "audio" %}
                        <i class="fa-solid fa-music fa-sm ms-1"></i>
                        {% else if medium.type == "picture" %}
                        <i class="fa-solid fa-image fa-sm ms-1"></i>
                        {% endif %}
                    </p>
                    <span class="text-secondary m-0" style="font-size: 0.8em;">
                        <i class="fa-solid fa-pen-to-square fa-sm"></i> Edit
                    </span>
                </td>
            </tr>
        </table>
    </a>
</div>
{% if loop.index == 20 && has_more %}
<div class="col-12" style="height:0;overflow:hidden;" hx-get="{{ next_url }}" hx-trigger="revealed" hx-target="#inf-scroll-st-{{ page }}" hx-swap="outerHTML" hx-on::after-request="this.remove()"></div>
{% endif %}
{% endfor %}
{% if has_more %}
<div id="inf-scroll-st-{{ page }}" class="col-12 my-4 inf-scroll-placeholder"></div>
{% else %}
<div class="col-12 text-center my-4">
    {% if media.is_empty() && page == 0 %}
    <p class="text-secondary">No media uploaded yet.</p>
    {% else %}
    <p class="text-secondary"><i class="fa-solid fa-circle-check me-2"></i>You have reached the end.</p>
    {% endif %}
</div>
{% endif %}
