<li class="nav-item">
    <a href="/subscriptions" class="nav-link {% if active_item == "subscribed" %}active{% endif %} text-white
        text-decoration-none my-1 fs-6 bg-hover" preload="mouseover">
        <i class="fa-solid fa-bell me-2"></i>
        Subscribed
    </a>
</li>
<li class="nav-item">
    <a href="/studio" class="nav-link {% if active_item == "studio" %}active{% endif %} text-white
        text-decoration-none my-1 fs-6 bg-hover" preload="mouseover">
        <i class="fa-solid fa-photo-film me-2"></i>
        Studio
    </a>
</li>
