<div class="col-12 col-md-8 col-lg-6">
    <table class="table table-hover table-bordered text-white">
        <tbody>
            <tr>
                <td>Version</td>
                <td><code>{{ version }}</code></td>
            </tr>
            <tr>
                <td>Git Commit</td>
                <td><code>{{ git_commit }}</code></td>
            </tr>
            <tr>
                <td>OS Distro</td>
                <td><code>{{ os_distro }}</code></td>
            </tr>
            <tr>
                <td>Kernel</td>
                <td><code>{{ os_kernel }}</code></td>
            </tr>
            <tr>
                <td>Architecture</td>
                <td><code>{{ os_arch }}</code></td>
            </tr>
        </tbody>
    </table>

    <h5 class="mb-3 mt-4">Browser Codec Support</h5>
    <table class="table table-hover table-bordered text-white">
        <tbody>
            <tr>
                <td>AV1</td>
                <td id="codec-av1"><code>Checking...</code></td>
            </tr>
            <tr>
                <td>VP9</td>
                <td id="codec-vp9"><code>Checking...</code></td>
            </tr>
            <tr>
                <td>H.265 (HEVC)</td>
                <td id="codec-h265"><code>Checking...</code></td>
            </tr>
            <tr>
                <td>Opus</td>
                <td id="codec-opus"><code>Checking...</code></td>
            </tr>
        </tbody>
    </table>
</div>
