{% for medium in suggestions %}
<a href="/m/{{ medium.id }}" class="suggestionitem" preload="mouseover">
    <li>
        <div class="suggestion-row">
            <img src="/source/{{ medium.id }}/thumbnail.avif" class="suggestion-thumb" loading="lazy" />
            <div class="suggestion-info">
                <span class="suggestion-name">{{ medium.name }}</span>
                <span class="suggestion-meta">
                    {{ medium.owner }}
                    <span class="suggestion-sep">&middot;</span>
                    {{ medium.views }} views
                    {% if medium.type == "video" %}
                    <i class="fa-solid fa-video fa-sm ms-1"></i>
                    {% else if medium.type == "audio" %}
                    <i class="fa-solid fa-music fa-sm ms-1"></i>
                    {% else if medium.type == "picture" %}
                    <i class="fa-solid fa-image fa-sm ms-1"></i>
                    {% endif %}
                </span>
            </div>
        </div>
    </li>
</a>
{% endfor %}
<a href="/search?q={{ query }}" class="suggestionitem border px-3 mt-3 suggestion-viewall">
    <li>
        <i class="fa-solid fa-magnifying-glass me-2"></i>View all results for "<b>{{ query }}</b>"
    </li>
</a>
