{% for item in reccomendations %}
<div class="col-xl-2 col-lg-4 col-6 d-flex justify-content-center">
    <a
        href="/m/{{ item.medium.id }}"
        class="text-decoration-none p-3 bg-hover rounded"
        preload="mouseover"
        title="{{ item.medium.name }}"
    >
        <table>
            <tr>
                <td class="d-flex justify-content-center">
                    <div
                        class="thumbnail-container"
                        style="position: relative; width: 176px; height: 99px"
                    >
                        <img
                            src="/source/{{ item.medium.id }}/thumbnail.avif"
                            class="rounded {% if item.medium.type == "video" %}thumbnail-static{% endif %}"
                            width="176"
                            height="99"
                        />
                        <div class="search-card-type-badge">
                            {% if item.medium.type == "video" %}
                            <i class="fa-solid fa-video fa-sm ms-1"></i>
                            {% else if item.medium.type == "audio" %}
                            <i class="fa-solid fa-music fa-sm ms-1"></i>
                            {% else if item.medium.type == "picture" %}
                            <i class="fa-solid fa-image fa-sm ms-1"></i>
                            {% endif %}
                        </div>
                        {% if item.medium.type == "video" %}
                        <img
                            src="/source/{{ item.medium.id }}/showcase.avif"
                            class="mx-2 rounded thumbnail-animated"
                            width="176"
                            height="99"
                        />
                        {% endif %}
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="text-center">
                    <b class="text-white font-weight-bold medium-name">{{ item.medium.name }}</b>
                    <p class="text-secondary m-0">
                        {{ item.medium.owner }}<br />{{ item.medium.views }}
                        views
                    </p>
                </td>
            </tr>
        </table>
    </a>
</div>
{% endfor %}
