<div class="dropdown">
    <button class="btn d-flex align-items-center gap-2 p-1">
        {% if user.profile_picture.is_some() %}
        <img src="{{ config.source_server_url }}/source/{{ user.profile_picture.clone().unwrap() }}/thumbnail-small.avif"
             class="user-avatar" />
        {% else %}
        <div class="user-avatar-placeholder">
            <i class="fa-solid fa-user" style="font-size:14px;color:white;"></i>
        </div>
        {% endif %}
        <span class="text-white user-name-clamp">{{ user.name }}</span>
    </button>
    <div class="dropdown-content border shadow">
        <a class="dropdown-item" href="/u/{{ user.login }}" preload="mouseover"><i class="fa-solid fa-house-flag mx-2"></i>My Channel</a>
        <a class="dropdown-item" href="/studio" preload="mouseover"><i class="fa-solid fa-pen-ruler mx-2"></i>Studio</a>
        <a class="dropdown-item" href="/settings" preload="mouseover"><i class="fa-solid fa-gear mx-2"></i>Settings</a>
        <a class="dropdown-item" href="/hx/logout"><i class="fa-solid fa-arrow-right-from-bracket mx-2"></i>Log out</a>
    </div>
</div>
