<!DOCTYPE html>
<html>

<head>
    {% include "component-dependencies.html" %}

    <title>Studio</title>

    <meta property="og:title" content="{{ config.instancename }} Studio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ common_headers.host }}/studio" />
</head>

<body hx-ext="preload">
    {{ sidebar }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2 ps-2" style="max-width: 99%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card py-3 px-3 text-white" style="min-height:30vh;">
                <div class="row justify-content-between">
                    <h3 class="my-2 mx-3" style="width:200px;">Studio</h3>
                    <div style="width:400px;">
                    <a href="/upload" class="btn btn-primary mx-3" style="width:150px;height:40px;" preload><i
                            class="fa-solid fa-upload"></i>&nbsp;Upload</a>
                    <a href="/studio/concepts" class="btn btn-primary mx-3" style="width:150px;height:40px;" preload><i
                            class="fa-solid fa-wand-magic-sparkles"></i>&nbsp;Concepts</a>
                    </div>
                </div>
                <hr>
                <div hx-get="/hx/studio" hx-trigger="load" class="row mb-3" style="min-height:100vh;">
                </div>
            </div>
        </div>
    </div>
</body>

</html>