<!DOCTYPE html>
<html>

<head>
    {% include "component-dependencies.html" %}

    <title>Upload</title>

    <meta property="og:title" content="{{ config.instancename }} Upload" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ common_headers.host }}/upload" />
</head>

<body>
    {{ sidebar }}
    {% include "component-navbar.html" %}
    <div class="row maincontentrow g-3 py-2 ps-2" style="max-width: 99%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card py-3 px-3 text-white" style="min-height: 80vh;">
                <h3 class="my-2 mx-3">Upload</h3>
                <hr>
                <h1 class="m-3 text-center">What do you want to upload today?</h1>
                <div class="d-flex justify-content-center">
                    <div></div>
                    <div>
                        <iframe
                            src="{% if config.custom_upload_url.is_some() %}{{config.custom_upload_url.clone().unwrap()}}{% else %}/uploadform{% endif %}"
                            style="border:none;height:60vh;width:40vw;"></iframe>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>